<!-- app/views/energies/_hourly_graph.erb.html -->
<div id="graph">
  <hr class="border-bottom border-3 border-dark">

    <!-- Display the graph using the @the_date variable if it's defined -->
    <% if defined? the_date %>
      <!-- <p>Selected Date: <%= the_date %></p> -->
    <% else %>
      <!-- <p>No date selected yet</p> -->
      <% the_date = Date.current - 1.month %>
    <% end %>

  <div class="text-center font-weight-bold">
    <!-- Testing this way of displaying, avoids one error -->
    <%#= "Got the_date" if defined?(the_date) && the_date %>
    <h4>Hour by Hour for <%= the_date.strftime("%d %b %Y") %></h4>
  
    <!-- For some reason just picking a date, it is 8 hours short, probably a time zone issue, but adding 0 hours fixes it UGLY -->
   <% the_date = the_date + 0.hour %>
  <!-- Could pass in a variable for number of days or do that in hourly -->
    <% time_span = the_date..the_date + 24.hour %>
    
    <%= line_chart [
    {name: "Enphase Produced", data: Hour.where(datetime: time_span).pluck(:datetime, :enphase)},
    {name: "Sent to SCE", data: Hour.where(datetime: time_span).pluck(:datetime, :to_sce)},
    {name: "From SCE", data: Hour.where(datetime: time_span).pluck(:datetime, :from_sce)},
    {name: "Used", data: Hour.where(datetime: time_span).pluck(:datetime, :used)}
    ]%>    
  </div>
  <!-- Select date to change display. Turbo logic in controller. Nice to move more of it here -->
  <!-- Submits to energies_controller, method process_date -->
  <!-- Probably should move to hourly_graph -->
  <%= form_tag process_date_path, method: :post, remote: true do %>
    <%= label_tag :the_date, 'Select a New Date to Display' %>
    <%= date_field_tag :the_date, @the_date ||= Date.current - 1.month %>
    <%= submit_tag 'Update graph for selected date' %>
  <% end %>

  <%= form_tag increment_date_path, method: :post, remote: true do %>
    <%= button_to "Increment date. NG TBD" %>
  <% end %>

  <hr class="border-bottom border-3 border-dark">
</div>
