<div id="<%= dom_id energy %>">
  <p>
    <strong>Datetime:</strong>
    <%= energy.datetime %>
  </p>

  <p>
    <strong>Enphase:</strong>
    <%= energy.enphase %>
  </p>

  <p>
    <strong>From sce:</strong>
    <%= energy.from_sce %>
  </p>

  <p>
    <strong>To sce:</strong>
    <%= energy.to_sce %>
  </p>

</div>
