<tr>
  <!-- <td class="text-left"><%#= energy.datetime %>&nbsp;&nbsp;</td> -->
  <td class="text-center"><%= energy.datetime.localtime.strftime("%d %b %Y %_l:%M %P") %></td>
   <!-- <td class="text-center"><%= energy.datetime.localtime.to_fs(:rfc822) %></td>  -->
  <!-- Thu, 30 Nov 2023 16:00:00 -0800	result of above -->
  <td class="text-center"><%= number_to_human(energy.enphase) %></td>  <!--  could change number_with_precision(energy.wh,  precision: 0) but if don't exceed 1kWh won't be needed -->
  <td class="text-end"><%= number_with_precision(energy.from_sce,{ precision: 0, delimiter: "," }) %></td> 
  <!-- Needs a comma -->
  <td class="text-end"><%= number_with_precision(energy.to_sce, precision: 0) %></td>

  
  <!-- Edit and destroy need an id and we don't have one with timescaledb -->
  <td><%#= link_to 'Edit', edit_energy_path(energy), data: { turbo_frame: "_top" }, class:"text-warning mx-1" %></td>
  <td><%#= link_to 'Destroy', energy_path(energy), data: {turbo_method: "delete"}, 'data-turbo-confirm': 'Are you sure you want to delete the connection?', class:"text-danger mx-1" %></td>
</tr>
