 <!-- app/views/energies/_sce_enphase_graph.html.erb -->
 <!-- SCE received and delivered, and Enphase produced -->
 <h4>Last month
     (<%= Date.today.last_month.beginning_of_month %> to 
     <%= Date.today.beginning_of_month %>)
 </h4>
 <%= line_chart [
   {name: "Enphase Produced", data: Energy.where(datetime: Date.today.last_month.beginning_of_month..Date.today.beginning_of_month).pluck(:datetime, :enphase)},
   {name: "Sent to SCE", data: Energy.where(datetime: Date.today.last_month.beginning_of_month..Date.today.beginning_of_month).pluck(:datetime, :to_sce)},
   {name: "From SCE", data: Energy.where(datetime: Date.today.last_month.beginning_of_month..Date.today.beginning_of_month).pluck(:datetime, :from_sce)}
  ]%>
  
  <hr class="border-bottom border-3 border-dark">
  <h4>Two months ago
    (<%= Date.today.prev_month(months = 2).beginning_of_month%> to 
     <%= Date.today.last_month.beginning_of_month %> )
  </h4>
  <%= line_chart [
    {name: "Enphase Produced", data: Energy.where(datetime: Date.today.prev_month(months = 2).beginning_of_month..Date.today.last_month.beginning_of_month).pluck(:datetime, :enphase)},
    {name: "Sent to SCE", data: Energy.where(datetime: Date.today.prev_month(months = 2).beginning_of_month..Date.today.last_month.beginning_of_month).pluck(:datetime, :to_sce)},
    {name: "From SCE", data: Energy.where(datetime: Date.today.prev_month(months = 2).beginning_of_month..Date.today.last_month.beginning_of_month).pluck(:datetime, :from_sce)}
    ]%>
  
  <!-- <hr class="border-bottom border-3 border-dark">
  <h4>December 31, 2023
   (<%= Date.today.last_month.beginning_of_month %> to 
    <%= Date.today.beginning_of_month %>)
  </h4>
  <%= line_chart [
 {name: "From SCE", data: Energy.where(datetime: Date.today.last_month.beginning_of_month..Date.today.beginning_of_month).pluck(:datetime, :from_sce)},
 {name: "Sent to SCE", data: Energy.where(datetime: Date.today.last_month.beginning_of_month..Date.today.beginning_of_month).pluck(:datetime, :to_sce) },
 {name: "Enphase Produced", data: Energy.where(datetime: Date.today.last_month.beginning_of_month..Date.today.beginning_of_month).pluck(:datetime, :enphase)}
  ]%> -->
  
  <hr class="border-bottom border-3 border-dark">
  <!-- <h4>Copy of above</h4>
  <%= line_chart [
    {name: "From SCE", data: Energy.where(datetime: Date.today.prev_month(months = 2).beginning_of_month..Date.today.last_month.beginning_of_month).pluck(:datetime, :from_sce)},
    {name: "Sent to SCE", data: Energy.where(datetime: Date.today.prev_month(months = 2).beginning_of_month..Date.today.last_month.beginning_of_month).pluck(:datetime, :to_sce) },
    {name: "Enphase Produced", data: Energy.where(datetime: Date.today.prev_month(months = 2).beginning_of_month..Date.today.last_month.beginning_of_month).pluck(:datetime, :enphase)}
  ]%> -->