<!-- app/views/hourly.html.erb -->
<p style="color: green"><%= notice %></p>

<!-- <h1>Hourly Energy Generation and Use</h1>
<p class="fst-italic">* Enphase and Edison don't always agree. Some times when Enphase reports no production, Edison reports both sending and receiving energy. This can result in a negative being reported for usage which isn't possible without a battery. Something to be resolved.</p>
<p><%= link_to "Energy Day by Day", daily_url %> <%= link_to "Energy Month by Month", monthly_url %></p> -->
<!-- <p>Trim the seconds</p> -->

<%= render "hourly_graph" %>

<table class="index-table">
  <!-- Table head is common to hourly, daily, monthly -->
  <%= render 'table_head' %>
  <tbody>    
    <!-- view_day_by_day defined in energies_controller with reference to model day_by_day.rb-->

    <% @hour_by_hours.each do |energy| %>
      <%= render partial: 'hourly', locals: { energy: energy } %>
    <% end %>
  </tbody>
</table>

<div class="pag-bar mt-5 pt-5">
  <%#== pagy_bootstrap_nav(@pagy) %>
</div>

<!-- Graphs/Charts -->
<%= render "graph_demos" %>

<%= render 'import_buttons' %>
