<!-- app/views/hourly.html.erb -->
<p style="color: green"><%= notice %></p>

<!-- <h1>Hourly Energy Generation and Use</h1>
<p class="fst-italic">* Enphase and Edison don't always agree. Some times when Enphase reports no production, Edison reports both sending and receiving energy. This can result in a negative being reported for usage which isn't possible without a battery. Something to be resolved.</p> -->
<p><%#= link_to "Energy Day by Day", daily_url %> <%#= link_to "Energy Month by Month", monthly_url %></p> 
<!-- This may be just so something is displayed when this page is first displayed-->
<%# theDate = Date.today.last_month.beginning_of_month %>

<!-- <p>energies/graphs/hourly_graph</p> -->
<%= render 'energies/graphs/hourly_graph' %>
<!-- <p>energies/graphs/hourly_graph</p> -->

<%= render 'energies/graphs/hourly_day_vs_day' %>
<p>Dates hard-wired in the partial, Need to add select the days as above </p>

<hr class="border-bottom border-3 border-dark">

<table class="index-table">
  <!-- Table head is common to hourly, daily, monthly -->
  <%= render 'table_head' %>
  <tbody>    
    <!-- view_day_by_day defined in energies_controller with reference to model day_by_day.rb-->
    <!-- Change this to only do table for the_date , the_date: the_date TODO -->
    <% @hours.reverse.each do |energy| %>
      <%#= render partial: 'hourly', locals: { energy: energy } %>
    <% end %>
    <p>OFF temporarily or until turn Pagy back on</p>
  </tbody>
</table>

<div class="pag-bar mt-5 pt-5">
  <%#== pagy_bootstrap_nav(@pagy) %>
</div>

<!-- Graphs/Charts -->
<p>energies/graphs/graph_demos OFF</p>
<%#= render "energies/graphs/graph_demos" %>

<%= render 'import_buttons' %>
